<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Paul Bordjadze</title>
    <link rel="stylesheet" href="/static/stylesheets/homepage_style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito">
</head>
<body>
<div class="main-grid">
<h1 class="name-header top-headers">Paul Bordjadze</h1>
<p class="email smaller-things">paul.bordjadze@gmail.com</p>
<h1 class="projects-header top-headers">My Projects</h1>
<p class="project smaller-things"><a href="calendar" class="fancy-link">OSU Turf Fields Calendar</a></p>
</div>
</body>
</html>